.invited-card {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  margin: 10px 0;
  padding: 10px;
}

.invited-card p {
  font-weight: 700px;
  padding-top: 5px;
  margin: 0;
}

.invited-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.invited-image {
  width: 120px;
  padding: 15px 0;
}
