.container-card {
  margin-top: 10px;
  width: 260px;
  height: 85px;
  background-color: var(--color-bg-primary);
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.title-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-card h3 {
  font-size: 14px;
  font-weight: 400;
}

.image-content img {
  width: 60px;
  padding-top: 0;
  padding-left: 5px;
  align-items: center;
  text-align: center;
}

.data-image {
  padding: 0;
}
