@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --color-primary: #fff;
  --color-bg-primary: #f2f3f5;
  --color-bg-secondary: #fff2de;
  --color-text-primary: #707070;
  --color-btn-bg-primary: #3489b1;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0%;
}

html,
body {
  background-color: var(--color-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.points-button {
  border: none;
}

.modal-button {
  width: 100px;
  height: auto;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
  margin: 10px 10px 0 0;
  background-color: var(--color-btn-bg-primary);
  color: var(--color-primary);
}
